.plot{
    width: 800px;
    
}

label{
    font-weight: bold;
    font-size: large;
  }
  input{
    width: 100px;
    font-size: large;
    border-radius: 10%;
  }

  body {
    width: 1200px;
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
    align-items: center;
  }
  
  .hidden {
    display: none;
  }



  .container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: block;
    margin: 0 auto 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group label {
    flex: 1;
    margin-right: 10px;
}

.input-group input {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.range-inputs {
    display: flex;
    justify-content: space-between;
}

.range-inputs .input-group {
    width: 48%;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #218838;
}

.schemas-container {
    margin: 20px 0;
    text-align: center;
}

.plot {
    margin-top: 30px;
}